@charset  "utf-8";

body  {
  margin: 0;
}
.mainbox  {
  width: 400px;
  margin: auto;
}
.header {
  height: 100px;
  background: #ff0000;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.side  {
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}
.sab  {
  width: 250px;
  float: left;
}
.sab-top-left {
  width: 150px;
  float: left;
}
.sab-top-left-top  {
  width: 150px;
  height: 50px;
  background: #cc00db;
}
.sab-top-left-bottom  {
  width: 150px;
  height: 100px;
  background: #0093b7;
}
.sab-top-right  {
  width: 100px;
  height: 150px;
  background: #ff9e6b;
  float: left;
}
.sab-bottom  {
  width: 250px;
  height: 100px;
  background: #8c2727;
}
.footer  {
  width: 400px;
  height: 100px;
  background: #fff700;
}